*.rbc
capybara-*.html
.rspec
/log
/tmp
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

config/initializers/secret_token.rb
config/master.key

# dotenv
.env

## Environment normalization:
/.bundle
/vendor/bundle

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore auto-generate file from IDE
.idea/
